.article-nav {
  position: absolute;
  top: 10vh;
  
  &__list {
    color:#4f4fbb;
    display: flex;
    flex-flow: column;
  }

  &__item {

    &:hover{
      cursor: pointer;
      color: #4646a0;
    }
  }
}
