$almost-black : #2E2E2E;

.button {
  color: white;
  font-size: 16px;
  
}

.button__header{
  height: 100%;

  &:hover{
    background-color: $almost-black;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
  
}