$dark-gray: #424242;

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width : 100%;
  height: 50px;
  background-color: $dark-gray;
}

.header__text {
  color:white;
  font-size: 16px;
  cursor: default;

  &_position {
    margin-left: 10px;
  }
}




